<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
    	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启注解驱动-->
    <mvc:annotation-driven/>

    <!--扫描spring组件所在的包-->
    <context:component-scan base-package="com.seven"/>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--静态资源映射-->
    <mvc:resources mapping="/trading_platform/css/**" location="/css/"/>
    <mvc:resources mapping="/trading_platform/images/**" location="/images/"/>
    <mvc:resources mapping="/trading_platform/js/**" location="/js/"/>
    <mvc:resources mapping="/trading_platform/lib/**" location="/lib/"/>
    <mvc:resources mapping="/trading_platform/api/**" location="/api/"/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--表示拦截器要拦截的路径:/**表示拦截所有路径-->
            <!-- 注意  /** (任意分层路径下) ，/* (该任意单路径下) 和 配置順序（先所有后排除） -->
            <mvc:mapping path="/**"/>
            <!--不拦截的路径-->
            <mvc:exclude-mapping path="/"/>
            <mvc:exclude-mapping path="/toLogin"/>
            <mvc:exclude-mapping path="/login"/>
            <bean class="com.seven.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>